* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  background-color: hsl(0deg, 0%, 60%);
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

header {
  background-color: white;
  padding: 128px 0 96px;
  border-bottom: 8px solid hsl(0deg, 0%, 10%);
}

h1 {
  font-size: 2rem;
}

header p {
  line-height: 1.5;
  font-size: 1.50rem;
}

header strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  padding: 0 32px;
  max-width: 500px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding-top: 96px;
}

main p {
  line-height: 1.4;
  font-size: 1.25rem;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -48px;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 16px 32px 16px 48px;
  width: auto;
  display: inline-block;
}

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 10%);
  padding: 8px 32px 32px;
}

/* Add styles here! */
